.container
  - provide(:title, "Contacts")

  %h1= t('.contacts')

  .about-copy
    %h3
      Предложения по развитию приложения и улучшению его функциональности направлять по адресу:
    .mailto
      experteese@gmail.com
