@import bootstrap-sprockets
@import bootstrap

@import 'font-awesome.css'
@import font-awesome

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require font-awesome
 *= require jquery-ui
 */
body
  background-color: #f7f7f7

.navbar
  background-color: #333366

#logo
  color: #f1f1ff
  font-size: 30px
  font-family: Tahoma
  font-weight: 300
  float: left
  margin-right: 20px

.localization
  float: right
  padding-top: 8px

p.locale b
  color: #f1f1ff
  font-size: 20px

.rails_logo
  float: left
  margin: 0px 30px

.gravatar
  height: 50px

.logged
  color: #dcf1fb
  top: 11px
  font-size: 18px
  font-weight: bold
  margin-top: 7px

.dropdown-toggle
  top: -8px
//background-color: #1b043a

.dropdown-toggle > a:focus
  background-color: #1b043a

.dropdown-toggle p
  padding-top: 5px

.navbar-inverse .navbar-nav > li > a
  color: #f1f1ff
  font-size: 16px

.navbar-inverse .navbar-nav > li
  margin-left: 10px
  top: 3px

.pull-left
  padding-left: 240px

.footer
  background-color: #2c2c3e

.socials
  float: right
  position: relative
  right: 12%

.socials > a
  margin-right: 10px

.fa
  color: #dcdcdc
  font-size: 20px
  float: left
  padding-top: 15px
  padding-right: 50px
  margin-left: 5%

.footer_menu
  padding-top: 7px

.footer_menu > nav > ul > li
  float: left
  padding-left: 20px
  list-style-type: none

.footer_menu > nav > ul > li > a
  color: #fff9f9

.fa.fa-copyright.iconsMain
  font-size: 15px
  padding: 40px 0px 10px 0px

.container.header
  position: relative
  top: 5px

.container.footer
  width: 70%

.container
  position: relative
  top: 80px

.footer
  position: fixed
  left: 0px
  bottom: 0px
  width: 100%

.footer_container
  width: 70%
  margin-left: 15%

form.new_user
  display: block
  position: relative
  width: 50%
  left: 25%
  margin-bottom: 150px

.col-md-9
  width: 70%
h1
  text-align: center
  margin-bottom: 30px

h2
  text-align: center
  font-size: 28px
  color: #545454

input
  width: 100%
  font-size: 20px
  margin-bottom: 15px

label
  font-size: 20px

.field
  margin-bottom: 12px

.actions
  margin-top: 30px
  font-size: 20px

.btn.btn-large.btn-primary
  font-size: 20px

div.span6.offset3
  display: block
  position: relative
  width: 50%
  left: 25%
  margin-bottom: 150px

.center
  text-align: center

.btn-lg, .btn-group-lg > .btn
  margin-top: 20px

.img-center
  height: 500px

.up
  text-align: left
  margin-left: 9%
  font-size: 20px
  color: #81808a

.control_panel
  background-color: #e6e6e6
  position: relative
  top: 112px

.controls
  padding: 20px

.col-md-10.slider
  width: 70%

input[type=range]
  -webkit-appearance: none
  width: 100%
  margin: 6.25px 0

input[type=range]:focus
  outline: none

input[type=range]::-webkit-slider-runnable-track
  width: 100%
  height: 4.3px
  cursor: pointer
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d
  background: #29709a
  border-radius: 2.4px
  border: 0px solid #000101

input[type=range]::-webkit-slider-thumb
  box-shadow: 1px 1px 1px #002000, 0px 0px 1px #003a00
  border: 0px solid #000000
  height: 14px
  width: 10px
  border-radius: 2px
  background: #fffff2
  cursor: pointer
  -webkit-appearance: none
  margin-top: -6.25px

input[type=range]:focus::-webkit-slider-runnable-track
  background: #2a739e

input[type=range]::-ms-track
  width: 100%
  height: 5.5px
  cursor: pointer
  background: transparent
  border-color: transparent
  color: transparent

input[type=range]::-ms-fill-lower
  background: #286d96
  border: 0px solid #000101
  border-radius: 4.8px
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d

input[type=range]::-ms-fill-upper
  background: #29709a
  border: 0px solid #000101
  border-radius: 4.8px
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d

.button__left.theme, .button__left.modalBtn
  height: 35px
  width: 130px
  background-color: #d0d0d6
  border: 5px
  margin-bottom: 15px

.choose
  font-size: 18px
  margin-bottom: 25px
  color: #1e3835
  padding-top: 10px

.col-md-10.slider
  width: 65%
  left: 4%

.show_user
  width: 30%
  position: relative
  top: 30px
  left: 50px

table
  width: 70%
  position: relative
  left: 20%
  margin-top: 20px

.add_user
  float: right
  margin-right: 20%

.min
  left: 4%

.max
  right: 3%

.button__results.save
  position: relative
  left: 12%
  margin-bottom: 20px
  float: left

.results_list
  margin-bottom: 25px

#chosen_value
  float: right
  margin-right: 105px
  border: 1px solid #c7c7c7
  padding: 2px 5px
  border-radius: 3px
  background-color: #fbfbfb

.common_value, .total_values
  font-size: 17px
  color: #1a6684

.image_diag
  background-color: #d2d2d2
  border-top: 1px solid #fff

.glyphicon
  color: #273440

.center.jumbotron
  margin-top: 50px
  background-color: #e4e4e4

.list
  text-align: left
  font-size: 25px
  line-height: 30px

.mailto
  margin-left: 39%
  margin-top: 25px
  font-size: 23px
  font-weight: bold

.profile_login
  width: 80%
  position: relative
  top: -50px
  left: 70px
  font-size: 35px

.profile_email
  position: relative
  top: -35px
  left: -16px
  font-size: 18px

.show_user > .btn.btn-lg.btn-primary
  position: relative
  top: -20px
  left: -16px

.profile_control
  position: relative
  top: 30px
  left: 35px

.table_value td
  padding: 7px

.go_main
  position: relative
  left: 20%

.image_user_value
  margin-left: 47%

